@font-face {
  font-family: 'Neutraface Light';
  src: url('./asset/fonts/NeutrafaceDisplay-Light.otf');
}
@font-face {
  font-family: 'Neutraface Bold';
  src: url('./asset/fonts/NeutrafaceDisplay-Bold.otf');
}
@font-face {
  font-family: 'Neutraface Medium';
  src: url('./asset/fonts/NeutrafaceDisplay-Medium.otf');
}

body {
  margin: 0;
  font-family: 'Neutraface Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* @import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Voltaire', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
