.map-container {
  /* position: absolute; */
  /* top: 800px;
  bottom: 800px;
  left: 800px;
  right: 800px; */
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* .sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
} */

.markers h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  display: absolute;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  padding: 0;
  height: 60px;
  width: 100px;
  font-size: small;
  color: pink;
  background-color: black;
}
