.map-container {
  /* position: absolute; */
  /* top: 800px;
  bottom: 800px;
  left: 800px;
  right: 800px; */
  position: relative;
  top: 0;
  bottom: 0;
  width: 900px;
  height: 500px;
  margin: auto;
}

/* .sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
} */
